.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: fit-content;
  border-radius: 10px;
}

.card img {
  border-radius: 20px;
}

@media (min-width: 320px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: fit-content;
    border-radius: 10px;
  }
}

@media (min-width: 480px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: fit-content;
    border-radius: 10px;
  }
}

@media (min-width: 1280px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: fit-content;
    border-radius: 10px;
  }
}
