.document {
  display: flex !important;
  flex-flow: column !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1;
  cursor: default !important;
  justify-content: center !important;
}

/* .deckUserPreview .rpv-core__page-layer {
  pointer-events: none;
  user-select: text;
} */

.rpv-thumbnail__container img {
  height: 100%;
}

.rpv-core__inner-page {
  background-color: transparent !important;
}

.buttonClose {
  z-index: 2;
  color: white !important;
}

.bigSizePreivew {
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5rem !important;
}

.pageWrapper {
  width: 100%;
  height: 100%;
}

.pageWrapperFullScreen,
.pageWrapperFullScreen :first-child {
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%; /* Limit the height to the viewport height */
  height: 100%;
  overflow: hidden; /* Hide any overflowing content */
  min-width: auto !important;
  min-height: auto !important;
}

.pageWrapperFullScreen canvas,
.pageWrapperFullScreen img {
  cursor: default !important;
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0.5rem;
}

.previewPagesWrapper {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .counter {
    display: none !important;
  }

  .next {
    display: none !important;
  }

  .prev {
    display: none !important;
  }

  .pageWrapper {
    display: none !important;
  }

  .previewPagesWrapper {
    height: 100vh !important;
    overflow-y: auto !important;
    margin-top: 0rem !important;
    display: flex !important;
    flex-flow: column !important;
    gap: 1rem !important;
    background-color: transparent !important;
  }

  .previewPageWrapper canvas {
    display: flex !important;
    width: 100% !important;
    border-radius: 0.5rem !important;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
