.document {
  display: flex !important;
  flex-flow: column !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1;
  overflow-y: auto!important;
  cursor: default!important;
  justify-content: center !important;
}

.hide-tawk-chat{
  display: none!important;
}

.buttonClose{
  z-index: 2;
  color: white !important;
}
  
.bigSizePreivew {
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5rem!important;
}

.react-pdf__Thumbnail canvas {
  width: 100% !important;
  height: auto !important;
}

.pageWrapper {
  display: flex !important;
  justify-content: center !important;
  background-color: transparent !important;
}

/* .pageWrapperFullScreen {
  display: flex !important;
  justify-content: center !important;
  background-color: transparent !important;
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0.5rem !important;
} */

.pageWrapperFullScreen{
  background: transparent!important;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%; /* Limit the height to the viewport height */
  height: 100%;
  overflow: hidden; /* Hide any overflowing content */
  min-width: auto!important;
  min-height: auto!important;
}

.pageWrapper canvas {
  display: flex !important;
  cursor: default !important;
  height: 60vh !important;
  width: auto !important;
  border-radius: 0.5rem;
}

/* .pageWrapperFullScreen canvas {
  display: flex !important;
  cursor: default !important; */
  /* width: 75vw !important;
  height: auto !important; */
  /* max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0.5rem !important;
} */

.pageWrapperFullScreen canvas {
  cursor: default !important; 
  max-width: 100%!important;
  max-height: 100%!important;
  width: auto!important;
  height: auto!important;
  border-radius: 0.5rem;
}

.previewPagesWrapper {
  height: 100% !important;
  margin-top: 1rem !important;
  padding-bottom: 0.5rem!important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  display: flex !important;
  gap: 1rem !important;
  background-color: transparent !important;
}

.previewPageWrapper .react-pdf__Thumbnail__page {
  display: flex !important;
  height: 100% !important;
  width: auto !important;
  background-color: transparent !important;
}

.bigSizePreivew .react-pdf__Thumbnail__page {
  height: auto !important;
  width: 100% !important;
  background-color: transparent !important;
}

.previewPageWrapper canvas {
  display: flex !important;
  height: 100% !important;
  width: auto !important;
  border-radius: 0.5rem !important;
}

.bigSizePreivew canvas {
  display: flex !important;
  height: auto !important;
  width: 100% !important;
  border-radius: 0.5rem !important;
}

.fixedContainer{
  height: 100%!important;
}



@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .counter{
    display: none !important;
  }

  .next{
    display: none !important;
  }

  .prev{
    display: none !important;
  }

  .pageWrapper {
    display: none !important;
  }

  .previewPagesWrapper {
    height: 100vh !important;
    overflow-y: auto !important;
    margin-top: 0rem !important;
    display: flex !important;
    flex-flow: column !important;
    gap: 1rem !important;
    background-color: transparent !important;
  }

  .previewPageWrapper .react-pdf__Thumbnail__page {
    display: flex !important;
    width: 100% !important;
    background-color: transparent !important;
  }

  .previewPageWrapper canvas {
    display: flex !important;
    width: 100% !important;
    border-radius: 0.5rem !important;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 320px) {
}
