.dummySlidesWrapper {
  padding: 0.5rem;
  margin-top: 1.25rem;
  height: 10rem;
  width: auto;
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}

.dummyImg {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}
