@import url('../../../index.module.css');

.button {
    font-family: "PowerGroteskTrial";
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: inherit;
    background-color: transparent;
    max-width: 24rem;
}
  
.backgroundColor {
    padding: 1.25rem 1rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.backgroundColor:hover{
    filter: drop-shadow(0px 0px 23px rgba(241, 81, 27, 0.24));
    /* transition: 0.5s; */
}

.backgroundColor:focus{
    /* border: 3px solid #b93d14; */
    /* transition: 0.5s; */
}

.backgroundColor:active{
    /* transform: scale(0.95); */
}
  
.borderColor {
    padding: 1.25rem 1rem;
    border: 0.125rem solid;
}

.borderColor:hover{
    filter: drop-shadow(0px 0px 23px rgba(241, 81, 27, 0.24));
    /* transition: 1s; */
}

.borderColor:focus{
    /* border: 3px solid #b93d14; */
    /* transition: 0.7s; */
}

.borderColor:active{
    /* transform: scale(0.95);
    transition: 0.2s; */
}

.onlyIcon {
    padding: 0.5rem;
}

.onlyIcon:hover{
    filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.24));
    /* transition: 1s; */
}

.onlyIcon:focus{
    /* border: 3px solid #000000; */
    /* transition: 0.7s; */
}

.onlyIcon:active{
    /* transform: scale(0.95);
    transition: 0.2s; */
}   


@media (max-width: 1536px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}
