.myDesksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pageNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'PowerGroteskTrial';
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  color: var(--black-color);
  text-align: center;
}

.title span {
  font-weight: 600;
}

.decksBlock {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four elements per row */
  gap: 0.75rem;
}

.noPitchDecksWrapper {
  padding: 6rem 0;
  width: 100%;
  height: 100%;
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.noPitchDecksTextWrapper{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.noPitchDecksTitle {
  color: var(--organge, #f1511b);
  text-align: center;
  font-family: 'PowerGroteskTrial';
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.noPitchDecksSubtitle {
  color: var(--black, #161a20);
  text-align: center;
  font-family: "PowerGroteskTrial";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.noPitchDecksText {
  color: var(--black-color, #161a20);
  text-align: center;
  font-family: 'PowerGroteskTrial';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .decksBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Four elements per row */
    gap: 0.75rem;
  }
}

@media (max-width: 1024px) {
  .decksBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four elements per row */
    gap: 0.75rem;
  }
}

@media (max-width: 768px) {
  .decksBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Four elements per row */
    gap: 0.75rem;
  }
}

@media (max-width: 576px) {
  .link{
    display: flex;
    justify-content: center;
  }

  .decksBlock {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Four elements per row */
    gap: 0.75rem;
  }

  .pageNavigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
  }
}

@media (max-width: 320px) {
}
