.react-pdf__Thumbnail canvas{
  height: 10rem!important;
  width: auto!important;
  border-radius: 0.5rem!important;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.50)!important;
}

.errorMessage{
  padding-top: 0.5rem;
  color: rgb(226, 85, 85);
  font-size: 0.75rem;
  font-weight: 300;
  text-align: left;
}